.example-spacer {
    flex: 1 1 auto;
  }

  .header_ownsect mat-toolbar-row.mat-toolbar-row {
    border-bottom: 1px solid #80808040;
    box-shadow: -1px 1px 3px 2px #00000026;
  }

  .example-card {
    max-width: 400px;
  }

  button{
    /* border: 1px solid gray; */
    border: none !important;
    background: none !important;
    color: white !important;
    margin-right: 8px;
  }