/* .example-card {
    max-width: 200px;
  } */
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-card-header-text {
    margin: none !important;
  }

  .f-12-rem {
    font-size: larger;
  }