.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.NoData-image {
  background-image: url('https://i.imgur.com/FPC6uwX.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.mat-card-header-text {
  margin: none !important;
}

.f-12-rem {
  font-size: larger;
}

.example-sidenav {
  padding: 20px;
}

.fontsize {
  font-size: xx-small;
}
